body{
  margin:5px;
}

#nav-asix{
  padding:0 5px;
}

#grid2{
  display:block;
  margin-top: 10px;
  padding:20px;
  color:white;
}

p{
  text-align:justify;
  margin-bottom: 50px;
}

#thebuttons{
  display: flex;
  justify-content: space-between;
}
